<div class="d-flex m-auto align-items-center justify-content-center">
  <h1>Welcome to Buffer-Clone</h1>
  <p class="m-2 mt-3">Powered by <a href="https://gorails.com/series/rails-6-for-beginners", target="_blank">GoRails</a></p>
</div>